@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background-color: hsl(217, 28%, 15%);
}

.header{
    height: 100px;
    width: 100%;    
    align-items: space-around;
    margin-top: 10px;
    /* position: fixed;
    top: 0%;
    transition: width 2s height 4s; */
}

.logo{
    height: 100px;
    float: left;
}

.logo img{
    margin-top: 25px;
    margin-left: 45px;
}

.menu{
    height: 100px;
    text-align: center;
    display: flex;
    float: right;
}

.menu p{
    margin-right: 45px;
    line-height: 100px;
    font-size: 17px;
    font-family: Raleway;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 580px) {
    .menu p{
        margin-right: 25px;
    }

    .logo img{
        margin-left: 25px;
    }
}

@media screen and (max-width: 480px){
    .menu p{
        font-size: 15px;
        margin-right: 12px;
    }
    
    .logo img{
        height: 30px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 350px){
    .menu p{
        font-size: 12px;
        margin-right: 10px;
    }
    
    .logo img{
        height: 20px;
        margin-top: 40px;
        margin-left: 10px;
    }
}

/* end of header */

.landing_page_illutration{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

@media screen and (max-width: 750px){
    .landing_page_illutration img{
        width: 550px;
    }
}

@media screen and (max-width: 610px){
    .landing_page_illutration img{
        width: 450px;
    }
}

@media screen and (max-width: 500px){
    .landing_page_illutration img{
        width: 300px;
    }
}

.landing_page_illutration_text{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.landing_page_illutration_text p{
    font-family: Raleway;
    font-weight: 700;
    font-size: 37px;
    color: hsl(0, 0%, 100%)
}


.background_curve{
    height: 485px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(images/bg-curvy-desktop.svg);
    text-align: center;   
}

.background_curve p{
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.background_curve_button{
    width: 250px;
    font-size: 25px;
    background-color: hsl(198, 60%, 50%);
    margin: auto;
    margin-top: 55px !important;
    padding: 20px;
    border-radius: 35px;
    font-weight: 700 !important;
}

@media screen and (max-width: 750px){
    .background_curve{
        width: 100%;
        height: 250px;
        background-position: center;
        background-image: url(images/bg-curvy-mobile.svg);
    }
    .landing_page_illutration_text p{
        font-weight: 700;
        font-size: 27px;
    }
}

@media screen and (max-width: 480px){
    .landing_page_illutration_text p{
        font-weight: 700;
        font-size: 17px;
    }

    .background_curve p{
        font-size: 10px;
    }

    .background_curve_button{
        padding: 15px;
    }
}

.company_qualification{
    height: auto;
    width: 100%;
    background-color: hsl(218, 28%, 13%);
}

.first_container,
.second_container{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
}

.first_company_qualification{
    height: 150px;
    width: 50%;
    text-align: center;
    margin-bottom: 100px;
}

.third_company_qualification{
    height: 150px;
    width: 50%;
    text-align: center;
    margin-bottom: 100px;
}


.second_comapany_qualification{
    height: 150px;
    width: 50%;
    text-align: center;
    margin-bottom: 100px;
}

.fouth_comapany_qualification{
    height: 150px;
    width: 50%;
    text-align: center;
    margin-bottom: 100px;
}

.comapany_qualification_header{
    font-size: 20px;
    font-family: Raleway;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.company_qualification_words{
    font-size: 13px;
    color: hsl(0, 0%, 100%);
    font-family: Open Sans;
    letter-spacing: 1px;
}

.first_company_qualification img,
.third_company_qualification img,
.second_comapany_qualification img,
.fouth_comapany_qualification img{
    margin-bottom: 25px;
}

@media screen and (max-width: 990px){
    .first_container,
    .second_container{
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 903px){
    .first_container,
    .second_container{
        display: inline-block;
        width: 100%;
    }

    .first_company_qualification,
    .third_company_qualification,
    .second_comapany_qualification,
    .fouth_comapany_qualification{
        height: 250px;
        width:  500px;
        margin: auto;
    }

}

@media screen and (max-width: 501px){
    .first_container,
    .second_container{
        display: inline-block;
        width: 100%;
    }

    .first_company_qualification,
    .third_company_qualification,
    .second_comapany_qualification,
    .fouth_comapany_qualification{
        height: 250px;
        width:  90%;
        margin: auto;
    }

    .company_qualification_words{
        font-size: 10px;
        letter-spacing: 0px;
    }

}

.production_and_feedback{
    background-color: hsl(218, 28%, 13%);
    width: auto;
}

.stay_productive{
    display: flex;
    width: 85%;
    height: auto;
    margin: auto;
}

.productive_svg{
    width: 50%;
}

.productive_svg img{
    width: 100%;
}
.productive_word{
    padding-left: 50px;
    width: 50%;
}

.productive_word_header{
    font-size: 35px;
    font-family: Raleway;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    margin-top: 100px;
}

.productive_word_words{
    font-size: 15px;
    font-family: Open Sans;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
}

.productive_word_link{
    font-size: 15px;
    font-family: Raleway;
    font-weight: 400;
    color: #62E0D9;
    letter-spacing: 1px;
    padding-bottom: 5px;
    border-bottom: #62E0D9 1px solid ;
    width: 175px;
    display: flex;
}


@media screen and (max-width: 903px){
    .stay_productive{
        display: inline-block;
        width: 100%;
    }

    .productive_svg{
        width: 90%;
        margin: auto;
    }

    .productive_word{
        width: 90%;
        margin: auto;
        padding-left: 0px;
    }

}

.testimony{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
}

.first_testimony{
    height: auto;
    width: 30%;
    background-color: hsl(219, 30%, 18%);
    margin: auto;
    border-radius: 5px;
}

.second_testimony{
    height: auto;
    width: 30%;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
}

.third_testimony{
    height: auto;
    width: 30%;
    background-color: hsl(219, 30%, 18%);
    margin: auto;
    border-radius: 5px;
}

.first_testimony_profile,
.second_testimony_profile,
.third_testimony_profile{
    height: 50px;
    width: 80%;
    margin: auto;
    display: flex;
}

.third_testimony_speech,
.second_testimony_speech,
.first_testimony_speech{
    width: 80%;
    margin: auto;
    color: hsl(0, 0%, 100%);
    font-family: Raleway;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

.third_profile_name,
.second_profile_name,
.first_profile_name{
    margin-top: 10px;
    color: hsl(0, 0%, 100%);
    font-family: Raleway;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

.third_profile_position,
.second_profile_position,
.first_profile_position{
    color: hsl(0, 0%, 100%);
    font-family: Raleway;
    font-size: 7px;
    font-weight: 700;
    letter-spacing: 1px;
}

.first_testimony_profile img,
.second_testimony_profile img,
.third_testimony_profile img{
    height: 35px;
    border-radius: 25px;
    margin-right: 15px;
}

.testimony_mobile_speech{
    display: none;
}

@media screen and (max-width: 903px){
    .testimony{
        display: block;
        width: 90%;
        height: auto; 
        margin-top: 30px; 
    }

    .first_testimony,
    .second_testimony,
    .third_testimony{
        width: 100%;
        margin-top: 10px;
    }

    .testimony_mobile_speech{
        display: flex;
    }
}

.get_early_access_today{
    width: 70%;
    height: auto;
    position: relative;
    margin: auto;
    background-color: hsl(217, 28%, 15%);
    text-align: center;
    top: 160px;
}

.get_early_access_today_header{
    font-size: 35px;
    font-family: Raleway;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    width: auto;
}

.get_early_access_today_speech{
    font-size: 15px;
    font-family: Raleway;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
}

.email{
    height: 50px;
    width: 45%;
    padding: 0 1em;
    border-radius: 25px;
    background: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 100%);
    font-family: Raleway;
    font-weight: 400;
    font-size: 17px;
    outline: none;
    border: none;
}

.email_button{
    height: 50px;
    width: 15%;
    border-radius: 25px;
    margin-left: 20px;
    background-color: #62E0D9;
    font-family: Raleway;
    font-weight: 400;
    Color: hsl(0, 0%, 100%);
    font-size: 13px;
    letter-spacing: 1px;
    outline: none;
    border: none;
}

@media screen and (max-width: 1000px){
    .get_early_access_today{
        width: 90%;
        margin: auto;
    }
    
    .email{
        font-size: 15px;
        display: block;
        width: 75%;
        margin: auto;
        margin-bottom: 25px;
    }

    .email_button{
        font-weight: 400;
        font-size: 15px;
        display: block;
        width: 75%;
        margin: auto;
    }
}

.footer_container{
    width: 100%;
    height: auto;
    background-color: hsl(216, 53%, 9%); 
}

.footer{
    display: flex;
    width: 85%;
    height: auto;
    margin: auto;
    gap: 2em;
}

.fylo_address{
    width: 30%;
    height: 400px;
}

.footer_logo{
    height: 60px;
    margin-bottom: 20px;
}

.footer_address{
    display: flex;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Raleway;
    line-height: 35px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.footer_address img{
    height: 25px;
    margin-right: 65px;
}

.fylo_contact{
    width: 17%;
    height: 400px;
    padding-top: 80px;
}

.fylo_contact_info{
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Raleway;
    line-height: 35px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.fylo_contact_info img{
    margin-right: 10px;
    height: 20px;
}



.fylo_other_pages{
    width: 14%;
    height: 400px;
    padding-top: 80px;
}

.fylo_other_pages ul li{
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Raleway;
    line-height: 35px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.fylo_term_and_conditions{
    width: 14%;
    height: 400px;
    padding-top: 80px;
}

.fylo_term_and_conditions ul li{
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Raleway;
    line-height: 35px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.social_media{
    width: 14%;
    height: 400px;
    padding-top: 80px;
    font-size: 35px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 1100px){
    .footer{
        width: 70%;
        height: auto;
        display: block;
    }

    .fylo_address{
        width: 100%;
        height: auto;
    }

    .footer_address{
        font-size: 15px;
        letter-spacing: 1px;
        font-family: Raleway;
        font-weight: 400;
        line-height: 30px;
        color: hsl(0, 0%, 100%);
    }

    .fylo_contact{
        width: 100%;
        height: auto;
    }

    .fylo_other_pages{
        width: 100%;
        height: auto;
    }

    .fylo_term_and_conditions{
        width: 100%;
        height: auto;
    }

    .social_media{
        width: 100%;
        height: auto;
        text-align: left;
    }
}

@media screen and (max-width: 500px){
    .footer{
        width: 90%;
    }

    .footer_logo{
        height: 40px
    }
    
    .footer_address{

    }

    .footer_address img{
        height: 20px;
        margin-right: 30px;
    }
}

.copyright{
    width: 100%;
    height: auto;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: Open Sans;
    font-size: 20px;
    letter-spacing: 1px;
}